# Testing

In [9]:
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
df = pd.read_csv('./files_media.csv')

In [ ]:
size_counts = df.groupby(['size'])[['path']].count()
size_counts = size_counts.loc[size_counts['path'] > 1].reset_index()
(
    size_counts['path'].sum(),
    df.shape[0],
    size_counts[['size', 'path']],
    size_counts['size'].max(),
)

(np.int64(33837),
 79675,
              size  path
 0               0    20
 1               2     4
 2               4     2
 3               8     3
 4              16     2
 ...           ...   ...
 12400   711460414     2
 12401  1073565696     2
 12402  1073709056     3
 12403  1073739776    17
 12404  1655247539     2

 [12405 rows x 2 columns],
 np.int64(1655247539))

In [35]:
size_counts['total_size'] = size_counts['size'] * (size_counts['path']-1)
size_counts

             size  path   total_size
0               0    20            0
1               2     4            6
2               4     2            4
3               8     3           16
4              16     2           16
...           ...   ...          ...
12400   711460414     2    711460414
12401  1073565696     2   1073565696
12402  1073709056     3   2147418112
12403  1073739776    17  17179836416
12404  1655247539     2   1655247539

[12405 rows x 3 columns]

In [36]:
size_counts['total_size'].sum() / 1e9

np.float64(85.070299493)